<div class="row">
    <div class="col-md-4">
        <h2>Password update</h2>
        <hr>
        {{#if successMessage}}
        <div class="alert alert-success">
            {{successMessage}}
        </div>
        {{/if}}

        {{#if errorMessage}}
        <div class="alert alert-danger">
            {{errorMessage}}
        </div>
        {{/if}}

        {{#if message}}
        <div class="alert alert-danger">
            {{message}}

        </div>
        {{/if}}

        {{#if userDetails}}
        <h5>User : {{userDetails.username}}</h5>
        {{/if}}
        <br>

        {{!-- Form --}}
        <form action="/changePassword" method="post">
            <div class="form-group">
                <input type="hidden" name="username" id="username" value={{userDetails.username}} class="form-control"
                    required>

                <input type="text" name="old_password" id="old_password" placeholder="Old Password" class="form-control"
                    required>
            </div>
            <div class="form-group">
                <input type="text" name="password" id="password" placeholder="New password" class="form-control"
                    required>
            </div>
            <div class="form-group">
                <input type="text" name="c_password" id="c_password" placeholder="confirm password" class="form-control"
                    required>
            </div>

            <button type="submit" class="btn btn-info">Submit</button>

        </form>
        <hr>


    </div>
</div>