<div class="row">
    <div class="col-md-4">
        <h2>Password reset</h2>
        <hr>

        {{#if successMessage}}
        <div class="alert alert-success">
            {{successMessage}}
        </div>
        {{/if}}

        {{#if errorMessage}}
        <div class="alert alert-danger">
            {{errorMessage}}
        </div>
        {{/if}}

        <br>

        {{!-- Form --}}
        <form action="/forget" method="post">
            <div class="form-group">
                <input type="test" name="username" id="username" class="form-control" required>

            </div>


            <button type="submit" class="btn btn-info">Submit</button>

        </form>
        <hr>


    </div>
</div>