<div class="row">
    <div class="col-md-4">
        <h2>Login</h2>
        <hr>

        {{#if message}}
        <div class="alert alert-danger">
            {{message}}
        </div>
        {{/if}}

        {{!-- Form --}}
        <form action="/login" method="post">
            <div class="form-group">
                <input type="email" name="username" id="username" placeholder="Username" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" id="password" placeholder="Password" class="form-control"
                    required>
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
            <a href="/signup" class="btn btn-info">Sign Up</a>
            <a href="/forget">Forgot password</a>
        </form>
        <hr>
        <a href="/auth/facebook" class="btn btn-success">Login with Facebook</a>
        <a href="/auth/google" class="btn btn-info">Login with Google</a>
    </div>
</div>