<div class="row">
    <div class="col-md-4">
        <h2>Password reset</h2>
        <hr>

        {{#if successMessage}}
        <div class="alert alert-success">
            {{successMessage}}
        </div>
        {{/if}}

        {{#if errorMessage}}
        <div class="alert alert-danger">
            {{errorMessage}}
        </div>
        {{/if}}
        {{#if tokenDetails}}
        <h5>User : {{tokenDetails.username}}</h5>
        {{/if}}
        <br>

        {{!-- Form --}}
        <form action="/reset/{{tokenDetails.token}}" method="post">
            <div class="form-group">

            </div>
            <div class="form-group">
                <input type="text" name="password" id="password" placeholder="New password" class="form-control"
                    required>
            </div>
            <div class="form-group">
                <input type="text" name="c_password" id="c_password" placeholder="confirm password" class="form-control"
                    required>
            </div>

            <button type="submit" class="btn btn-info">Submit</button>

        </form>
        <hr>


    </div>
</div>