<div class="row">
    <div class="col-md-4">
        <h2>Sign up</h2>
        <hr>

        {{#if successMessage}}
        <div class="alert alert-success">
            {{successMessage}}
        </div>
        {{/if}}

        {{#if errorMessage}}
        <div class="alert alert-danger">
            {{errorMessage}}
        </div>
        {{/if}}
        {{#if message}}
        <div class="alert alert-info">
            {{message}}
        </div>
        {{/if}}

        {{!-- Form --}}
        <form action="/signup" method="post">
            <div class="form-group">
                <input type="email" name="username" id="username" placeholder="User's email id" class="form-control"
                    required>
            </div>
            <div class="form-group">
                <input type="password" name="password" id="password" placeholder="Enter password" class="form-control"
                    required>
            </div>

            <button type="submit" class="btn btn-info">Submit</button>

        </form>
        <hr>
        <div class="card">
            <div class="card-body">
                <p class="card-title">Please check your Email and verify your new account.</p>
            </div>
        </div>

    </div>
</div>