<div class="p-5">
    {{#if successMessage}}
    <div class="alert alert-success">
        {{successMessage}}
    </div>
    {{/if}}

    {{#if errorMessage}}
    <div class="alert alert-danger">
        {{errorMessage}}
    </div>
    {{/if}}
    <h1>Welcome to Demo Express Typescript project</h1>

</div>