<div class="p-5">
    <h1>Update</h1>

    {{#if errorMessage}}
    <div class="alert alert-danger">
        {{errorMessage}}
    </div>
    {{/if}}

    <form action="/todos/update/{{todo._id}}" method="POST">
        <div class="input-group">
            <input type="text" class="form-control" name="title" placeholder="Your task...." value="{{todo.title}}">
        </div>
    </form>
</div>